<a href="https://colab.research.google.com/github/369hiper/Testing_AI_tool_Simplify_development/blob/main/Simplifying_development_using_AI_Tools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Define the Titanic dataset
data = {
    'PassengerId': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Survived': [0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1],
    'Pclass': [3, 1, 3, 1, 3, 3, 1, 3, 3, 2, 3, 1],
    'Name': [
        'Braund, Mr. Owen Harris',
        'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
        'Heikkinen, Miss. Laina',
        'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
        'Allen, Mr. William Henry',
        'Moran, Mr. James',
        'McCarthy, Mr. Timothy J',
        'Palsson, Master. Gosta Leonard',
        'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
        'Nasser, Mrs. Nicholas (Adele Achem)',
        'Sandstrom, Miss. Marguerite Rut',
        'Bonnell, Miss. Elizabeth'
    ],
    'Sex': ['male', 'female', 'female', 'female', 'male', 'male', 'male', 'male', 'female', 'female', 'female', 'female'],
    'Age': [22, 38, 26, 35, 35, None, 54, 2, 27, 14, 4, 58],
    'SibSp': [1, 1, 0, 1, 0, 0, 0, 3, 0, 1, 1, 0],
    'Parch': [0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0],
    'Ticket': [
        'A/5 21171',
        'PC 17599',
        'STON/O2. 3101282',
        '113803',
        '373450',
        '330877',
        '17463',
        '349909',
        '347742',
        '237736',
        'PP 9549',
        '113783'
    ],
    'Fare': [7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51.8625, 21.075, 11.1333, 30.0708, 16.7, 26.55],
    'Cabin': ['', 'C85', '', 'C123', '', '', 'E46', '', '', 'C', 'G6', 'C103'],
    'Embarked': ['S', 'C', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'C', 'S', 'S']
}

# Create a DataFrame from the data
df = pd.DataFrame(data)

# Extract the titles from the "Name" column
df['Title'] = df['Name'].str.extract(r'\b(\w+)\.')

# Map the titles according to gender
title_map = {
    'Mr': 'Mr',
    'Mrs': 'Mrs',
    'Miss': 'Miss',
    'Master': 'Master'
}
df['Title'] = df['Title'].map(title_map)

# Display the updated DataFrame
print(df[['PassengerId', 'Name', 'Sex', 'Title']])

    PassengerId                                               Name     Sex  \
0             1                            Braund, Mr. Owen Harris    male
1             2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2             3                             Heikkinen, Miss. Laina  female
3             4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4             5                           Allen, Mr. William Henry    male
5             6                                   Moran, Mr. James    male
6             7                            McCarthy, Mr. Timothy J    male
7             8                     Palsson, Master. Gosta Leonard    male
8             9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9            10                Nasser, Mrs. Nicholas (Adele Achem)  female
10           11                    Sandstrom, Miss. Marguerite Rut  female
11           12                           Bonnell, Miss. Elizabeth  female

     Title
0       Mr
1      Mrs
2     Miss
3      Mrs
4       Mr
5       Mr
6       Mr
7   Master
8      Mrs
9      Mrs
10    Miss
11    Miss

In [ ]:
def fibonacci(n):
    # Check for exceptional cases
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1

    # Calculate the nth Fibonacci number
    fib_sequence = [0, 1]
    for i in range(2, n + 1):
        fib_sequence.append(fib_sequence[i - 1] + fib_sequence[i - 2])

    return fib_sequence[n]

# Test the function with different values
n = 0
result = fibonacci(n)
print(f"The {n}th Fibonacci number is: {result}")

n = 1
result = fibonacci(n)
print(f"The {n}st Fibonacci number is: {result}")

n = 2
result = fibonacci(n)
print(f"The {n}nd Fibonacci number is: {result}")

n = 10
result = fibonacci(n)
print(f"The {n}th Fibonacci number is: {result}")

The 0th Fibonacci number is: 0
The 1st Fibonacci number is: 1
The 2nd Fibonacci number is: 1
The 10th Fibonacci number is: 55

In [ ]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        fib_sequence = [0, 1]
        for i in range(2, n + 1):
            fib_sequence.append(fib_sequence[i - 1] + fib_sequence[i - 2])
        return fib_sequence[n]

# Ask the user for input
n = int(input("Enter the value of n to find the nth Fibonacci number: "))

result = fibonacci(n)
print(f"The {n}th Fibonacci number is: {result}")

Enter the value of n to find the nth Fibonacci number: 12
The 12th Fibonacci number is: 144

In [ ]:
import unittest

def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        fib_sequence = [0, 1]
        for i in range(2, n + 1):
            fib_sequence.append(fib_sequence[i - 1] + fib_sequence[i - 2])
        return fib_sequence[n]

class FibonacciTestCase(unittest.TestCase):
    def test_zeroth_fibonacci_number(self):
        self.assertEqual(fibonacci(0), 0)

    def test_first_fibonacci_number(self):
        self.assertEqual(fibonacci(1), 1)

    def test_second_fibonacci_number(self):
        self.assertEqual(fibonacci(2), 1)

    def test_fifth_fibonacci_number(self):
        self.assertEqual(fibonacci(5), 5)

    def test_tenth_fibonacci_number(self):
        self.assertEqual(fibonacci(10), 55)

    def test_large_fibonacci_number(self):
        self.assertEqual(fibonacci(20), 6765)

if __name__ == '__main__':
    unittest.main()

E
======================================================================
ERROR: /root/ (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/root/'

----------------------------------------------------------------------
Ran 1 test in 0.006s

FAILED (errors=1)

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
import unittest

def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        fib_sequence = [0, 1]
        for i in range(2, n + 1):
            fib_sequence.append(fib_sequence[i - 1] + fib_sequence[i - 2])
        return fib_sequence[n]

class FibonacciTestCase(unittest.TestCase):
    def test_zeroth_fibonacci_number(self):
        self.assertEqual(fibonacci(0), 0)

    def test_first_fibonacci_number(self):
        self.assertEqual(fibonacci(1), 1)

    def test_second_fibonacci_number(self):
        self.assertEqual(fibonacci(2), 1)

    def test_fifth_fibonacci_number(self):
        self.assertEqual(fibonacci(5), 5)

    def test_tenth_fibonacci_number(self):
        self.assertEqual(fibonacci(10), 55)

    def test_large_fibonacci_number(self):
        self.assertEqual(fibonacci(20), 6765)

if __name__ == '__main__':
    unittest.main(argv=[''], exit=False)

......
----------------------------------------------------------------------
Ran 6 tests in 0.015s

OK